:root {
    --head-font:  'Dela Gothic One', cursive;
    --body-font:  'Prompt', sans-serif;

    --yellow: #FFC300;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.6;
    text-align: center;
}

h1 {
    font-family: var(--head-font);
    color: var(--yellow);
    justify-content: center;
    top: 3em;
    font-size: 3rem;
    position: relative;
    display: flex;
    z-index: 2;
}

p {
    display: flex;
    justify-content: center;
    top: 7em;
    position: relative;
    z-index: 2;
    font-family: var(--body-font);
    font-size: 2rem;
    font-weight: 600;
}

span {
    text-decoration: underline;
}

.bg-image {
    background-image: url(/assets/kaysha-V3qzwMY2ak0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: blur(2px);
    height: 100vh;
    width: 100%;
}

button {
    color: #ECECEC;
    background: #FF1818;
    border: none;
    border-radius: 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1em 2em;
    margin: 1em auto 1em;
    height: 45px;
    width: 150px;
}